
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-3" href="#">CJ Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse sm-2" id="navbarNav">
    <ul class="navbar-nav ms-2">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
     
    </ul>
  </div>
</nav>
<div class="jumbotron py-4">
  <br />
  <h1 class="display-4 text-center"></h1>
</div>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
    
        
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       
        <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
          <h4>Hospital Management System</h4>
          
       <div>
      
       </div>
        <br>
          <!-- Username input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="username"
              class="form-control form-control-lg"
              placeholder="Enter a valid Username"
              formControlName="username"
            />
            <label class="form-label" for="username">Username</label>

            <div
              *ngIf="
                loginForm.controls['username'].invalid &&
                (loginForm.controls['username'].dirty ||
                  loginForm.controls['username'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  loginForm.controls['username'].errors.required &&
                  (loginForm.controls['username'].dirty ||
                    loginForm.controls['username'].touched)
                "
              >
                Username is required
              </div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              formControlName="password"
            />
            <label class="form-label" for="password">Password</label>

            <div
              *ngIf="
                loginForm.controls['password'].invalid &&
                (loginForm.controls['password'].dirty ||
                  loginForm.controls['password'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  loginForm.controls['password'].errors.required &&
                  (loginForm.controls['password'].dirty ||
                    loginForm.controls['password'].touched)
                "
              >
                Password is required
              </div>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
            >
              Login
            </button>
          </div>
        </form>
      </div>

      <!-- patient form  -->

    </div>
  </div>
</section>