/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;

}
#buttonEdit{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#logout{
   position: absolute;
   right: 0;
   padding-right: 5%;
}