<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
     
  }
</style>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-4" href="#">CJ Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-2" id="navbarNav">
    <ul class="navbar-nav ms-2">
      <li class="nav-item active">
        <a class="nav-link" href="#"  routerLink="/home-page">Home</a>
      </li>
        <li class="nav-item" >
          <a class="nav-link" href="#" (click)="OnLogoutClick()">Logout</a>
        </li>
     
    </ul>
  </div>
</nav>
</div>
<div class="container" id="Backbody">
   <!-- Navbar -->
<div class="jumbotron py-2">
    <br>
    <h1 class="display-4 text-center">Appointment View Table</h1>
  </div>
 
  <br>
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Disease</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of Appointmentlist; let i=index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ pd.patientFirstName }} {{ pd.patientLastName }}</td>
          <td>{{ pd.patientDoctorName }}</td>
          <td>{{ pd.patientDiesases }}</td>
          <td>
            <span class="badge bg-{{ pd.appointmentstatus === 'Pending' ? 'warning' : 'success' }}">{{ pd.appointmentstatus }}</span>
          </td>
          <td>
            <a [routerLink]="['/prescrptions', pd.patientAppointmentId]" class="btn btn-sm btn-primary">Add Prescription</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
